<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Get your route</title>
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
           <a href="/">
            <h3 class="masthead-brand">Mira tu ruta</h3>
          </a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            {{#if user}}
            <a class="nav-link" href="/users/logout">Logout</a>
            {{else}}
            <a class="nav-link" href="/users/login">Login</a>
            <a class="nav-link" href="/users/register">Regístrate</a>
            {{/if}}
          </nav>
        </div>
      </header>
      <div> 
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
        {{{body}}}
        </div>
    </div>

</body>
</html>